* {
    border: none;
    border-radius: 0;
    font-family: "Inter", "JetBrains Mono", sans-serif;
    font-size: 11px;
    font-weight: 800; /* Font molto spesso per stile typo */
}

window#waybar {
    background: transparent;
}

#workspaces, #clock, #network, #cpu, #memory, #battery {
    background: #1a1a1a;
    color: #ffffff;
    margin: 5px 4px;
    padding: 0 12px;
    border: 1px solid #333333;
}

#workspaces button.focused {
    background: #ffffff;
    color: #1a1a1a;
}

#workspaces button {
    color: #888888;
}

#clock {
    border: 1px solid #ffffff;
}
